<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Testes Advantage Shopping">

	<test name="TESTES">
		<classes>
			<class name="br.com.rsinet.hub.ProjetoAppium.testes.BuscaClique" />
			<class name="br.com.rsinet.hub.ProjetoAppium.testes.BuscaLupa" />
			<class name="br.com.rsinet.hub.ProjetoAppium.testes.Cadastro" />
		</classes>
	</test>

</suite>